<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Css/Login.css">
</head>
<body>
    <!-- กรอปทึบ -->
    <div class="login-container">
        <div class="login-box">
            
            <!-- โลโก้ -->
            <div class="logo">
                <img src="https://www.up.ac.th/icon/up.png" alt="Logo">
            </div>
            
            <!-- หัวของล็อกอิน -->
            <h1 class="login-header">Login</h1>
            
            <!-- ล็อกอิน -->
            <form action="#" method="POST" class="login-form">
                
                <!-- ชื่อผู้ใช้ -->
                <div class="input-box">
                    <input type="text" name="username" class="input-field" placeholder="Username" autocomplete="off" required>
                </div>
                
                <!-- รหัสผ่าน -->
                <div class="input-box">
                    <input type="password" name="password" class="input-field" placeholder="Password" autocomplete="off" required>
                </div>
                
                <!-- ปุ่มตัวเลือก "จำรหัส"-->
                <div class="forgot">
                    <label>
                        <input type="checkbox" id="check"> Remember Me
                    </label>
                    <a href="/Forgot" class="forgot-password">Forgot Password?</a>
                </div>
                
                <!-- ปุ่มกดล็อกอิน -->
                <div class="input-submit">
                    <button type="submit" class="submit-btn"><a href="/home">Sign In</a></button>
                </div>
            </form>
            
            <!-- ลิงก์สำหรับสมัครบัญชีใหม่ -->
            <p class="sign-up-link">Don't have an account? <a href="/Register">Sign Up</a></p>
            
        </div>
    </div>
</body>
</html>
