<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ</title>
</head>

<header>
    <h1>คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ มหาวิทยาลัยพะเยา เป็นหน่วยงานซึ่งมุ่งที่จะเพิ่มคุณภาพชีวิตของประชากรโดยเฉพาะอย่างยิ่งการนำองค์ความรู้ 
        นวัตกรรมด้านวิทยาศาสตร์ และเทคโนโลยีทางการเกษตร สัตวศาสตร์ การประมง วิทยาศาสตร์ และเทคโนโลยีการอาหาร เทคโนโลยีชีวภาพ และความปลอดภัยทางอาหาร
        มาผสมผสานกับภูมิปัญญาท้องถิ่นด้านการเกษตรให้ เหมาะสมกับสภาพภูมิศาสตร์ เศรษฐกิจ และสังคมในเขตภาคเหนือตอนบน ซึ่งนอกจากจะช่วยพัฒนาเศรษฐกิจของภาคเหนือตอนบนได้แล้ว 
        ยังช่วยลดความแออัดและค่าใช้จ่ายของนักเรียนที่สำเร็จ การศึกษาในภาคเหนือตอนบนที่ประสงค์จะเข้าศึกษาในสาขาวิชาด้านเกษตรศาสตร์และทรัพยากรธรรมชาติโดยไม่ต้องเข้าไปศึกษาในมหาวิทยาลัยส่วนกลางหรือภูมิภาคอื่น</h4>
     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->

    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรเทคโนโลยีบัณฑิต สาขาวิยาเทคโนโลยีการเกษตร</h2>
            <img src="https://img2.pic.in.th/pic/1e399cb67daf13ff4.jpg" alt="รูป">
            <p>นักวิชาการ/นักวิจัยสังกัดหน่วยงานราชการหรือเอกชนพนักงานรัฐวิสาหกิจหรือองค์การมหาชน บุคลากรทางการศึกษา/อาจารย์สาขาการเกษตร สัตวศาสตร์ ประมง วิทยาศาสตร์การอาหาร 
            และสาขาวิชาที่เกี่ยวข้อง พนักงานบริษัทเอกชนที่เกี่ยวข้องกับการเกษตร สัตวศาสตร์ ประมง วิทยาศาสตร์การอาหารเจ้าหน้าที่ประจำด่านกักกันพืช ด่านตรวจสัตว์น้ำ </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีและนวัดกรรม</h2>
            <img src="https://img2.pic.in.th/pic/28203ff5d0261dce9.jpg" alt="รูป">
            <p>นักวิชาการประมงนักวิจัยสังกัดหน่วยงานราชการหรือเอกชนพนักงานรัฐวิสาหกิจหรือองค์การมหาชน บุคลากรทางการศึกษา/อาจารย์สาขาการประมง และสาขาวิชาที่เกี่ยวข้อง 
            หนักงานบริษัทเอกชนที่เกี่ยวร้องกับสัตว์น้ำและการประมง เจ้าหน้าที่ประจำ ด่านศุลกรกร ธุรกิจส่วนตัว เช่น ฟาร์มเพาะเลี้ยงสัตว์น้ำ เจ้าของ ธุรกิจเกี่ยวกับสัตว์น้ำด้านต่างๆ และอื่นๆ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเกษตรศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/3d19549092d75d9f3.jpg" alt="รูป">
            <p>นักวิชาการเกษตรในหน่วยงานทั้งภาครัฐ และภาคเอกชนที่เกี่ยวเนื่องรับภาคการเกษตร นักวิจัยในหน่วยงานทั้งในภาครัฐ และภาคเอกชนที่เกี่ยวเนื่องกับภาคการเกษตร 
            ประกอบอาชีพอิสระที่เกี่ยวข้องกับการทำธุรกิจ การทำฟาร์ม และการบริการที่เกี่ยวเนื่อง กับการทำการเกษตร</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิด สาขาวิชาความปรอดภัยทางอาหาร</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/46d027bb8e8eb5819.jpg" alt="รูป">
            <p>ผู้ควบคุมความปลอดภัยอาหาร นักวิทยาศาสตร์อาหาร (ด้านควานปลอดภัยอาหาร) เจ้าหน้าที่จัดทำมาตรฐานสินค้าเกษตรและอาหารของหน่วยงานราชการต่างๆ เจ้าหน้าที่ควบคุมคุณภาพและประกันคุณภาพในโรงงานอุตสาหกรรมอาหาร 
            เข้าหน้าที่กำกับ ดูแลตรวจรับรองมาตรฐาน และความปลอดภัยอาหารของหน่วยงานราชการต่างๆ ผู้ประกอบการทางด้านอาหารและการประกัน</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิด สาขาวิชาวิทยาศาสตร์และเทคโนโลยีการอาหาร</h2>
            <img src="https://img2.pic.in.th/pic/5d7d99a8a572bc525.jpg" alt="รูป">
            <p>ประกอบอาชีพเป็นนักวิทยาศาสตร์การอาหาร หรือ นักวิทยาศาสตร์และเทคโนโลยีการอาหาร ในบริษัทที่เกี่ยวกับ อุตสาหกรรมอาหาร เช่น การทำงานในโรงงานอุตสาหกรรมอาหารในด้านการวางแผนการผลิต 
            การควบคุมการผลิต การควบคุมและประกันคุณภาพ การสุขาภิบาลและความปลอดภัยของอาหารทำงานที่เกี่ยวข้องอื่นๆ เช่น การขาย การวิจัย ฯลฯ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสครบัณฑิต สาขาวิชาสัตวศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/6b2f1bd084c7ae7a4.jpg" alt="รูป">
            <p>สัตวบาลประจำหน่วยงานของภาครัฐ หรือฟาร์มเอกชน นักวิชาการสัตวบาลประจำหน่วยงานของภาครัฐ พนักงานบริษัทเอกชน เช่น ฝ่ายส่งเสริมการขาย 
            ฝ่ายผลิตภัณฑ์อาหารสัตว์และฝ่ายควบคุมคุณภาพของสินค้าทางด้านปตุสัตว์ เป็นต้น และตำแหน่ง/น้ายอื่นๆ ที่เกี่ยวข้อง ประกอบธุรกิจส่วนตัว เช่น ฟาร์ม สัตว์ปิก ฟาร์มสุกร 
            ฟาร์มโคเนื้อโคนม และการทำเกษตรผสมผสานเป็นต้น</p>
        </div>
            

        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
