<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะรัฐศาสตร์และสังคมศาสตร์</title>
</head>

<header>
    <h1>คณะรัฐศาสตร์และสังคมศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ คณะรัฐศาสตร์และสังคมศาสตร์ ถือเป็นคณะน้องใหม่ในปริมณฑลแห่งการแสวงหาความรู้และบนหนทางแห่งปณิธาน "ปัญญาเพื่อความเข้มแข็งของชุมชน" ของมหาวิทยาลัยพะเยา 
    อันมีที่มาดังนี้ในปี พ.ศ. 2539 มหาวิทยาลัยนเรศวรได้เริ่มเปิดดำเนินการการเรียนการสอนครั้งแรกที่โรงเรียนพะเยาพิทยาคม จังหวัดพะเยาโดยเริ่มสอนด้านวิทยาศาสตร์และด้านสังคมศาสตร์ ต่อมา ในปีพ.ศ. 2542 
    มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยาได้ย้ายที่ทำการมา ณ ที่ตั้งปัจจุบัน และในปี พ.ศ.2545 สาขาวิชาพัฒนาสังคม ก็ได้ถือกำเนิดขึ้นภายใต้สังกัด สำนักวิชาศิลปศาสตร์ และให้หลังเพียง 1 ปี 
    สาขาวิชารัฐศาสตร์ ก็ได้แยกตัวออกมาพร้อมๆกับคณาจารย์ที่มี วุฒิการศึกษาตรงกัน นอกจากนั้น ในปี พ.ศ. 2546 ยังได้มีการเปิดหลักสูตรพัฒนา สังคม โครงการพิเศษขึ้น อย่างไรก็ตาม หลักสูตรนี้ 
    ก็ถูกปิดลงเมื่อสิ้นปีการศึกษา 2556 แต่ด้านสาขาวิชารัฐศาสตร์ยังมีการจัดการเรียนการสอนในหลักสูตรรัฐประศาสนศาสตรมหาบัณฑิต (นโยบายสาธารณะ) ทั้งแผน ก และแผน ข โดยได้ดำเนินการมาอย่างต่อเนื่อง 
    นับตั้งแต่ปี พ.ศ. 2551 และเมื่อขึ้นปี 2555 ได้มีการเปิดหลักสูตร รัฐศาสตรบัณฑิต โครงการพิเศษ ขึ้นอีกด้วย อนึ่ง จากเดิมที่สภามหาวิทยาลัยนเรศวรมีมติให้เปลี่ยนชื่อจาก "มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา" มาเป็น 
    "มหาวิทยาลัยนเรศวร พะเยา" เมื่อวันที่ 21 กรกฎาคม 2550 นั้น ต่อมาในวันที่ 12 กรกฎาคม 2553 พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชก็ได้มีพระบรมราชโองการโปรดเกล้าฯ ให้ตราพระราชบัญญัติมหาวิทยาลัย พ.ศ. 2553 ขึ้น 
    จนต่อมาในวันที่ 16 กรกฎาคม 2553 มหาวิทยาลัยนเรศวร พะเยา ก็ได้รับการจัดตั้งเป็น "มหาวิทยาลัยพะเยา" ตามราชกิจจานุเบกษา โดยเป็นมหาวิทยาลัยในกำกับของรัฐที่มิใช่ส่วนราชการเต็มรูปแบบ และสำนักวิชา ศิลปศาสตร์ ก็ได้เปลี่ยนชื่อมาเป็น 
    คณะศิลปศาสตร์จนกระทั่ง ปัจจุบัน นับจากวันที่มหาวิทยาลัยนเรศวรได้ทดลองเพาะกล้าความรู้จนถึงวันนี้กว่า 18 ปี และนับตั้งแต่วันที่สาขาวิชารัฐศาสตร์และสาขาวิชาพัฒนาสังคม ได้หัดบินภายใต้อ้อมอกของคณะศิลปศาสตร์จนถึงวันนี้กว่า 10 ปี 
    ระยะเวลาดังกล่าวนานพอที่จะเป็นที่แน่ใจได้แล้วว่า สาขาวิชาทางสังคมศาสตร์ แข็งแรงพอและพร้อมแล้วที่จะโบยบินไปแสวงหาความรู้และหว่านโปรยเมล็ดพันธุ์แห่งปัญญาเพื่อความเข้มแข็งของชุมชนตามแนวทางศาสตร์ของตนเองมหาวิทยาลัยพะเยา
    จึงได้มีประกาศตามมติที่ประชุมสภามหาวิทยาลัยพะเยา พ.ศ. 2557 เพื่อจัดตั้งคณะใหม่ ในนามคณะรัฐศาสตร์และสังคมศาสตร์</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรรัฐประศาสนศาสตรบัณฑิตสาขาวิชาการจัดการนวัตกรรมสาธารณะ</h2>
            <img src="https://img2.pic.in.th/pic/313796e5e42637b91e.jpg" alt="รูป">
            <p>ข้าราชการและพนักงานอื่นของรัฐ เช่น เจ้าหน้าที่บริหารงาน ทั่วไป, เจ้าหน้าที่วิเคราะห์นโยบายและแผน, พนักงานส่วนท้องถิ่น, ลูกจ้างประจำในหน่วยงานภาครัฐ, เจ้าหน้าที่งานธุรการ, 
            งานบุคลากรเจ้าหน้าที่วิเคราะห์อัตรากำลัง, หัวหน้า/ผู้ช่วยผู้จัดการโครงการของเอกชน, พนักงานในองค์กรพัฒนาเอกชนหรือองค์การไม่แสวงหากำไรในด้านสังคมศาสตร์, นักวิชาการหรือนักวิจัยทางสังคมศาสตร์ของสถาบันต่างๆ, 
            ผู้ประกอบการทางสังคม, เจ้าของวิสาหกิจเพื่อสังคม, หรือทำงานในเชิงการบริการสาธารณะ ของตัวเอง</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรรัฐศาสตรบัณฑิต</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/32cbb3d11e8c371ea5.jpg" alt="รูป">
            <p>ข้าราชการ, พนักงานองค์กรปกครองส่วนท้องถิ่น, นักวิจัยทาง, สังคมศาสตร์, เจ้าหน้าที่วิเคราะห์นโยบายและแผนงานบุคลากรเจ้าหน้าที่วิเคราะห์อัตรากำลัง, นักวิจัยทางสังคมศาสตร์ เป็นต้น </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาพัฒนาสังคม</h2>
            <img src="https://img2.pic.in.th/pic/333c2c5060c7d96774.jpg" alt="รูป">
            <p>เจ้าหน้าที่, ข้าราชการ, เจ้าหน้าที่เอกชน, นักพัฒนาสังคม, นักพัฒนาชุมชน, ผู้วิจัย, บุคลากรทางการศึกษา, อาจารย์ เป็นต้น </p>                
        </div>
            
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>