<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะวิทยาศาสตร์</title>
</head>

<header>
    <h1>คณะวิทยาศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ มหาวิทยาลัยพะเยาก่อตั้งขึ้นตามมติคณะรัฐมนตรี เมื่อวันที่ 20 มิถุนายน พ.ศ. 2538 ในนาม "มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา" และในปีการศึกษา 2544 
    ได้ปรับโครงสร้างการบริหารงานจาก กลุ่มวิชา เป็น สำนักวิชา วันที่ 22 มิถุนายน พ.ศ.2544 ได้มีการแบ่งการบริหารและการจัดการเรียนการสอนออกเป็น 3 กลุ่มวิชา คือ กลุ่มวิชาเทคโนโลยีสารสนเทศ 
    ศิลปศาสตร์ และ วิทยาศาสตร์และเทคโนโลยี เปิดสอน 7 หลักสูตรด้วยกันเพื่อเพิ่มคุณภาพชีวิตของประชากร โดยเฉพาะอย่างยิ่ง การนำเอาองค์ความรู้ นวัตกรรมด้านวิทยาศาสตร์
    และเทคโนโลยีมาผสมผสานกับภูมิปัญญาท้องถิ่นให้เหมาะสมกับสภาพภูมิศาสตร์เศรษฐกิจและสังคม ซึ่งจะเป็นการช่วยพัฒนาเศรษฐกิจและเพื่อตอบสนองนโยบายของรัฐบาล และเจตนารมณ์ของประชาชนในภาคเหนือตอนบน 
    ที่คาดหวังจะให้เป็นศูนย์กลางทางวิชาการและวิชาชีพชั้นสูง วันที่ 21 กรกฎาคม พ.ศ. 2550 สภามหาวิทยาลัยนเรศวร มีมติเปลี่ยนชื่อ "มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา"เป็น "มหาวิทยาลัยนเรศวร พะเยา" และ 
    ในวันที่ 12 กรกฎาคม พ.ศ. 2553 พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดช มีพระบรมราชโองการโปรดเกล้า ฯ ให้ตราพระราชบัญญัติมหาวิทยาลัยพะเยา พ.ศ. 2553 ขึ้น วันที่ 16 กรกฎาคม พ.ศ. 2553 มหาวิทยาลัยนเรศวร พะเยา 
    ได้รับการจัดตั้งเป็น "มหาวิทยาลัยพะเยา" และแยกเป็นมหาวิทยาลัยในกำกับของรัฐ ปรัชญามหาวิทยาลัยคือ "ปัญญาเพื่อความเข้มแข็งของชุมชน" (Wisdom for Community Empowerment) สำนักวิชาวิทยาศาสตร์และเทคโนโลยี 
    ได้ยกฐานะเป็น "คณะวิทยาศาสตร์ " ตั้งแต่บัดนั้นเป็นต้นมา หลักสูตรคณะวิทยาศาสตร์ </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาคณิตศาสตร</h2>
            <img src="https://img2.pic.in.th/pic/3447d521c97fd6ddc2.jpg" alt="รูป">
            <p>อาชีพในหน่วยงานที่ต้องใช้ความรู้ความสามารถทางทักษะ/กระบวนการ คณิตศาสตร์ สถิติ และคอมพิวเตอร์ เช่น รับราชการครู นักวิชาการ นักวางแผน 
            นักวิเคราะห์ระบบในหน่วยงานรัฐหรือเอกชนและอาชีพอิสระ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเคมี</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/35cfb24c8154d89522.jpg" alt="รูป">
            <p>นักวิทยาศาสตร์ นักเคมี นักวิจัย บุคลากรทางด้านการศึกษา นักวิชาการ เจ้าหน้าที่ตรวจสอบคุณภาพทั้งหน่วยงานในภาครัฐและเอกชน พนักงานส่งเสริมการขายเครื่องมือวิทยาศาสตร์ 
            วัสดุและสารเคมี และอาชีพอื่นๆ ที่เกี่ยวข้อง</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาชีววิทยา</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/36342c301625d521ef.jpg" alt="รูป">
            <p>บุคลากรทางการศึกษา นักวิทยาศาสตร์ นักวิจัย เจ้าหน้าที่ปฏิบัติการในหน่วยงานของภาครัฐบาลและเอกชน เช่น ผู้ควบคุม คุณภาพผลิตภัณฑ์ในโรงงานอุตสาหกรรม 
            ตัวแทนจำหน่ายเครื่องมือทางวิทยาศาสตร์ ผู้ประกอบการธุรกิจ เช่น การเพาะเลี้ยงเนื้อเยื่อพืชการผลิตพืช การเลียงสัตว์เศรษฐกิจ และธุรกิจการประมง</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาฟิสิกส์</h2>
            <img src="https://img2.pic.in.th/pic/3753a3cc2cbc39d5d2.jpg" alt="รูป">
            <p>นักวิจัยหรือนักวิทยาศาสตร์หรือเจ้าหน้าที่ห้องปฏิบัติการ ตัวแทนจำหน่ายอุปกรณ์วิทยาศาสตร์ อุปกรณ์การแพทย์ หรือ อุปกรณ์ด้านสารสนเทศ เจ้าหน้าที่ฝ่ายตรวจสอบคุณภาพ 
            ควบคุมการผลิต ออกแบบหรือพัฒนาผลิตภัณฑ์ ผู้ประกอบการด้านเทคโนโลยีทางฟิสิกส์ ฟิสิกส์ประยุกต์ และฟิสิกส์ศึกษา บุคลากรทางการศึกษา ในสถาบันการศึกษาระดับอุดมศึกษา 
            วิทยาลัยสถานศึกษาระดับมัธยมศึกษาหรือประถมศึกษาเจ้าหน้าที่ด้าน วิทยาศาสตร์ประจำพิพิธภัณฑ์หรือศูนย์การเรียนรู้ นักสื่อสาร วิทยาศาสตร์ สื่อมวลชนสายข่าววิทยาศาสตร์และเทคโนโลยี</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาศาสตร์การออกกำลังกายและการกีฬา</h2>
            <img src="https://img2.pic.in.th/pic/387029e7ba31cd9d3e.jpg" alt="รูป">
            <p>นักวิทยาศาสตร์และเทคโนโลยีการกีฬา, บุคลากรทางการ ศึกษา, นักพัฒนาโปรแกรมการออกกำลังกาย, ผู้ฝึกสอนสุขภาพ ส่วนตัว หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาสถิติประยุกต์และการจัดการข้อมูล 
            นักสถิติ,นักออกแบบโปรแกรม,นักวิจัย,นักวิเคราะห์ระบบ, บุคลากรทางการศึกษา, พนักงานธนาคาร,เจ้าหน้าที่วิเคราะห์ นโยบายและแผน, นักวิเคราะห์ความเสี่ยง,เจ้าหน้าที่วางแผนและควบคุมการผลิต, นักเวชสถิติ และอื่นๆ</p>
        </div>

        <div class="faculty">
            <h2>สาขาวิชาสถิติประยุกต์และการจัดการข้อมูล</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/40f13b6ffcb3969987.jpg" alt="รูป">
            <p>นักสถิติ,นักออกแบบโปรแกรม,นักวิจัย,นักวิเคราะห์ระบบ, บุคลากรทางการศึกษา, พนักงานธนาคาร,เจ้าหน้าที่วิเคราะห์นโยบายและแผน, นักวิเคราะห์ความเสี่ยง,เจ้าหน้าที่วางแผนและควบคุมการผลิต, นักเวชสถิติ และอื่นๆ</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>