<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะวิทยาศาสตร์การแพทย์</title>
</head>

<header>
    <h1>คณะวิทยาศาสตร์การแพทย์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ คณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยพะเยา ได้ก่อตั้งขึ้นเมื่อวันที่ 1 ตุลาคม 2550 โดยมีวัตถุประสงค์หลักในการจัดตั้งคณะวิทยาศาสตร์การแพทย์ 
    เพื่อผลิตบัณฑิตระดับปริญญาตรีในสาขาวิชาทางด้านวิทยาศาสตร์การแพทย์ ได้แก่ สาขาวิชา จุลชีววิทยา สาขาวิชาชีวเคมี และสาขาวิชาโภชนาการและการกำหนดอาหาร 
    เพื่อตอบสนองความต้องการตามแผนพัฒนาสาธารณสุขและแผนพัฒนาวิทยาศาสตร์และเทคโนโลยีของประเทศตลอดจนเพื่อจัดการเรียนการสอน ในระดับพื้นฐานทางการแพทย์ (Pre-Clinic) 
    และวิทยาศาสตร์ พื้นฐานในระดับปริญญาตรี ให้แก่นิสิตในกลุ่มวิทยาศาสตร์สุขภาพ ได้แก่แพทยศาสตร์ เภสัชศาสตร์คณะพยาบาลศาสตร์ สหเวชศาสตร์ สาธารณสุขศาสตร์ 
    และนิสิตในกลุ่มวิทยาศาสตร์และเทคโนโลยี ได้แก่ คณะวิทยาศาสตร์ และคณะเกษตรศาสตร์และทรัพยากรธรรมชาติ นอกจากนี้ยังมุ่งเน้นการสร้างและพัฒนาบุคลากรให้มีความสามารถทางด้านวิชาการ
    และการวิจัยเพื่อเป็นที่ยอมรับในระดับสากล</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาจุลชีววิทยา</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/3975ed8dd2b22e8264.jpg" alt="รูป">
            <p>นักจุลชีววิทยา นักวิจัย นักวิทยาศาสตร์ในหน่วยงานภาครัฐและเอกชน ผู้ปฏิบัติงานด้านควบคุมคุณภาพ ด้านประกันคุณภาพและด้านวิจัยและพัฒนาผลิตภัณฑ์ ผู้ประกอบการธุรกิจ 
            ศึกษาต่อในระดับที่สูงขึ้น</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาชีวเคมี</h2>
            <img src="https://img2.pic.in.th/pic/41054bad77d8b56be2.jpg" alt="รูป">
            <p>นักวิจัย ผู้ควบคุมคุณภาพ พนักงานทำงานในแผนกวิจัยและพัฒนาผลิตภัณฑ์ พนักงานตัวแทนขายเครื่องมือ วัสดุ สารเคมีทาง วิทยาศาสตร์ พนักงานตัวแทนขายยา เครื่องสำอาง 
            และผลิตภัณฑ์ศึกษาต่อในสาขาวิชาชีวเคมี หรือสาขาในระดับที่สูงขึ้นที่เกี่ยวข้อง</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาโภชนาการและการกำหนดอาหาร</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/42bf521c9dccf65989.jpg" alt="รูป">
            <p>นักกำหนดอาหาร และนักโภชนาการในโรงพยาบาลของรัฐหรือเอกชน ศูนย์พัฒนาเด็กเล็ก โรงพยาบาลส่งเสริมสุขภาพตำบล ศูนย์เวชศาสตร์สำหรับผู้สูงอายุและสถาบันบริการอาหารอื่นๆ 
            นักวิชาการ นักวิจัย ที่ปรึกษาด้านอาหารและโภชนาการ ในสถาบันการศึกษาหรือหน่วยงานที่เกี่ยวข้อง</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>