<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะวิศวกรรมศาสตร์</title>
</head>

<header>
    <h1>คณะวิศวกรรมศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ คณะวิศวกรรมศาสตร์ได้ยกฐานะขึ้นจาก สำนักวิชา วิศวกรรมศาสตร์ ซึ่งได้ก่อตั้งเมื่อปี พ.ศ. 2545 โดยสำนักวิชา วิศวกรรมศาสตร์เป็นหน่วยงานหนึ่งของมหาวิทยาลัยนเรศวร 
    วิทยาเขตสารสนเทศพะเยา การจัดการเรียนการสอนของสำนักวิชา วิศวกรรมศาสตร์ในสมัยนั้นเปิดสอนหลักสูตรวิศวกรรมศาสตรบัณฑิตเพียง 5สาขาวิชา คือ สาขาวิชาวิศวกรรมเครื่องกล 
    สาขาวิชา วิศวกรรมไฟฟ้า สาขาวิชาวิศวกรรมโยธา สาขาวิชาวิศวกรรม สิ่งแวดล้อม และสาขาวิชาวิศวกรรมอุตสาหการ โดยจัดการเรียนการสอนเพียง ชั้นปีที่ 1 และ 2 เมื่อนิสิตต้องเรียนในชั้นปีที่ 3 และ 4 
    ทางสำนักวิชาวิศวกรรมศาสตร์ จะส่งนิสิตไปเรียนที่คณะ วิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร จังหวัดพิษณุโลก ต่อมามหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยาได้เปลี่ยนชื่อเป็น มหาวิทยาลัยนเรศวร พะเยา 
    เพื่อเตรียมยกฐานะเป็นมหาวิทยาลัยเอกเทศ และเมื่อมหาวิทยาลัยนเรศวร พะเยา ได้ยกฐานะขึ้นเป็นมหาวิทยาลัยเอกเทศ คือ มหาวิทยาลัยพะเยา เมื่อวันที่ 16 กรกฎาคม พ.ศ. 2553 แล้ว 
    สำนักวิชาวิศวกรรมศาสตร์จึงได้รับการยกฐานะขึ้นเป็นคณะวิศวกรรมศาสตร์ เมื่อวันที่ 1 ตุลาคม พ.ศ. 2553 ปัจจุบันคณะวิศวกรรมศาสตร์เปิดสอนทั้งหมด 9 หลักสูตรได้แก่ หลักสูตรวิศวกรรมศาสตรบัณฑิต 4 หลักสูตร 
    คือ วิศวกรรมเครื่องกล วิศวกรรมไฟฟ้า วิศวกรรมโยธา และวิศวกรรม อุตสาหการ และหลักสูตรวิศวกรรมศาสตรมหาบัณฑิต 4 หลักสูตร คือ การบริหารงานก่อสร้าง วิศวกรรมโยธา วิศวกรรมไฟฟ้า และ วิศวกรรมเครื่องกล 
    นอกจากนี้ยังได้เปิดสอนหลักสูตรปรัชญาดุษฎีบัณฑิต 1 หลักสูตร คือ วิศวกรรมไฟฟ้า</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมเครื่องกล</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/436bafcd5b486ee7ed.jpg" alt="รูป">
            <p>สาขาวิชาวิศวกรรมไฟฟ้ากำลัง : ออกแบบ ควบคุม ติดตั้งบำรุงรักษา เกี่ยวกับระบบผลิต ระบบส่ง และระบบจ่ายไฟฟ้ากำลังการตรวจสอบ การวางแผนโครงการ และให้คำปรึกษา 
            สาขาวิชาวิศวกรรมไฟฟ้าสื่อสาร : ออกแบบ ควบคุม ติดตั้งบำรุงรักษา เกี่ยวกับระบบเครื่องส่ง วิทยุ โทรทัศน์ โทรศัพท์การตรวจสอบ ซ่อม และใช้งานอุปกรณ์สื่อสารการหาตำแหน่งติดตั้งสถานีรับ-ส่งสัญญาณระบบสื่อสารและให้คำปรึกษา</p>   
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมไฟฟ้า</h2>
            <img src="https://img2.pic.in.th/pic/440fbcdd4fee32220f.jpg" alt="รูป">
            <p>คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ เป็นศูนย์การเรียนรู้ และพัฒนาเสนียและข้อมูลเสริมโดยรอบรอมพื้นฐี่เกี่ยวข้องบ้าน</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมโยธา</h2>
            <img src="https://img2.pic.in.th/pic/459609ea101199f87c.jpg" alt="รูป">
            <p>ก่อสร้างและออกแบบงานอาคาร อาคารสาธารณะ คลังสินค้า โครงสร้างที่มีลักษณะเป็นหอ ปล่อง โครงสร้างสะพาน ชิ้นส่วนโครงสร้างคอนกรีตหล่อสำเร็จ เสาเข็มคอนกรีต โครงสร้างใต้ดิน 
            สิ่งก่อสร้างชั่วคราว ทางสาธารณะ ระบบชลประทาน โครงสร้างที่มีการกักของไหล ท่อส่งน้ำ ท่อระบายน้ำ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมอุตสาหการ</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/46b9bcc53934417a3d.jpg" alt="รูป">
            <p>งานเกี่ยวกับการลดเวลาการปฏิบัติงาน ค่าใช้จ่าย วัสดุพลังงาน และทรัพยากรอื่น ๆ รวมไปถึงงานการควบคุมคุณภาพของการผลิต งานด้านระบบการผลิตและเครื่องจักร 
            งานด้านการบริหารงานทางวิศวกรรม</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>