<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะสถาปัตยกรรมศาสตร์และศิลปกรรมศาสตร์</title>
</head>

<header>
    <h1>คณะสถาปัตยกรรมศาสตร์และศิลปกรรมศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ คณะสถาปัตยกรรมศาสตร์และศิลปกรรมศาสตร์ ก่อตั้งตามมติสภามหาวิทยาลัย เมื่อวันที่ 1 ตุลาคม 2553 โดยมีปรัชญาของคณะ คือ ปัญญาสร้างสรรค์สังคม 
    ใช้สีประจำคณะ คือ สีซิลเวอร์ในปีการศึกษา 2553 เปิดหลักสูตรศิลปกรรม ศาสตรบัณฑิตในสาขาวิชาออกแบบผลิตภัณฑ์และบรรจุภัณฑ์ ซึ่งเป็นการเรียนการสอนแบบทวิภาค 2 ภาคการศึกษา 
    ในปีการศึกษา 2555 ได้เปิดการเรียนการสอนใน 2 หลักสูตร 2 สาขาวิชา ประกอบด้วย หลักสูตรสถาปัตยกรรมศาสตรบัณฑิตสาขาวิชาสถาปัตยกรรมศาสตร์ และหลักสูตรศิลปกรรมศาสตรบัณฑิต 
    สาขาวิชาศิลปะและการออกแบบ ในปีการศึกษา 2556 ได้เปิดการเรียนการสอนใน 2 หลักสูตร 2 สาขาวิชา ประกอบด้วย หลักสูตรดุริยางคศาสตรบัณฑิต สาขาวิชา ดุริยางคศาสตรสากล 
    และหลักสูตรศิลปกรรมศาสตรบัณฑิตสาขาวิชาศิลปะการแสดง ในปีการศึกษา 2558 ได้เปิดการเรียนการสอน จำนวน 1 หลักสูตร 1 สาขาวิชา คือ หลักสูตรสถาปัตยกรรมศาสตรบัณฑิตสาขาวิชาสถาปัตยกรรมภายใน 
    หลักสูตรคณะสถาปัตยกรรมศาสตร์และศิลปกรรมศาสตร์ 1. หลักสูตรศิลปกรรมศาสตรบัณฑิต 1.1 สาขาวิชาดนตรีและนาฏศิลป์ 1.2 สาขาวิชาศิลปะและการออกแบบ 3. หลักสูตรสถาปัตยกรรมศาสตรบัณฑิต 
    3.1 สาขาวิชาสถาปัตยกรรม 3.2 สาขาวิชาสถาปัตยกรรมภายใน อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปกรรมศาสตรบัณฑิต สาขาวิชาดนตรีและนาฏศิลป์ ศิลปิน สร้างสรรค์ทางด้านศิลปะการแสดง 
    นักธุรกิจทางด้านการจัดการแสดง นักวิชาการในองค์กรทางด้านศิลปวัฒนธรรม นักวิเคราะห์ วิจารณ์ด้านศิลปะการแสดง นักวิจัยทางด้าน ศิลปะการแสดง บุคลากรทางการศึกษา</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรศิลปกรรมศาสตรบัณฑิต สาขาวิชาศิลปะและการออกแบบ</h2>
            <img src="https://img2.pic.in.th/pic/722c53fd431b0b8f76.jpg" alt="รูป">
            <p>นักออกแบบ ได้แก่ การออกแบบ ผลิตภัณฑ์ บรรจุภัณฑ์กราฟิก เครื่องประดับ สิ่งทอ เครื่องปั้นดินเผา, ตกแต่งภายใน ภูมิทัศน์ สื่อ การแสดง ผู้ประกอบการในสายศิลปะและการออกแบบ 
            พนักงานหน่วยงานราชการตามกรอบคุณวุฒิการศึกษา นักวิชาการ และที่ปรึกษาด้านศิลปกรรม ศิลปินหลักสูตรสถาปัตยกรรมศาสตรบัณฑิต สาขาวิชาสถาปัตยกรรมสถาปนิก นักออกแบบ 
            นักเขียนแบบ นักธุรกิจด้านออกแบบ ผู้ควบคุมงานการก่อสร้าง ผู้ประมาณราคาและประเมินราคาอสังหาริมทรัพย์ ผู้รับเหมาก่อสร้างในภาครัฐและเอกชน นัก ธุรกิจด้านการออกแบบ 
            ที่ปรึกษาโครงการหรือนักพัฒนาอสังหาริมทรัพย์และที่อยู่อาศัย นักวิชาการ นักวิจัยงาน ด้านสถาปัตยกรรม ผู้ประกอบการงานด้านสถาปัตยกรรม นักออกแบบภายในและนักออกแบบภูมิสถาปัตยกรรมหลักสูตร</p>
        </div>

        <div class="faculty">
            <h2>สถาปัตยกรรมศาสตรบัณฑิต สาขาวิชาสถาปัตยกรรมภายใน</h2>
            <img src="https://img2.pic.in.th/pic/4889a4b6c18b1f431d.jpg" alt="รูป">
            <p>มัณฑนากร นักออกแบบสถาปัตยกรรมภายใน นักเขียนแบบสถาปัตยกรรมภายใน นักธุรกิจด้านการออกแบบสถาปัตยกรรมภายใน ผู้รับเหมาก่อสร้างงานสถาปัตยกรรมภายใน 
            นักออกแบบเครื่องเรือน นักออกแบบแสงสว่าง ที่ปรึกษา ผู้บริหารและอำนวยการก่อสร้าง นักออกแบบนิทรรศการ นักออกแบบกราฟิก นักวิชาการด้านสถาปัตยกรรมภายใน 
            วิชาชีพสถาปัตยกรรมควบคุมสาขาวิชาสถาปัตยกรรมภายใน และมัณฑนศิลป์</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>