<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะสหเวชศาสตร์</title>
</head>

<header>
    <h1>คณะสหเวชศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ ในปี พ.ศ. 2550 คณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยพะเยา ถูกจัดตั้งขึ้น เพื่อขยายโอกาสทางการศึกษาให้กับเขตพื้นที่ภาคเหนือตอนบน ซึ่งครอบคลุม 6 จังหวัด ได้แก่ จังหวัดพะเยา, จังหวัดเชียงราย, จังหวัดแม่ฮ่องสอน, จังหวัดลำปาง, จังหวัดลำพูน, จังหวัดน่าน ซึ่งในปีนั้นได้มีการเปิดรับนักศึกษารุ่นแรกใน 3 หลักสูตรคือ หลักสูตรเทคนิคการแพทย์,หลักสูตรกายภาพบำบัดและหลักสูตรสาธารณสุขศาสตร์ ต่อมาได้มีการปรับเปลี่ยนโครงสร้างการบริหารงานภายในวิทยาเขต เพื่อให้เกิดความคล่องตัวในการบริหารงาน และเตรียมพร้อมกับการแยกเป็นมหาวิทยาลัยเอกเทศ จึงได้เปลี่ยนชื่อ มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา เป็นมหาวิทยาลัยพะเยา พร้อมทั้งได้จัดตั้งคณะสหเวชศาสตร์แยกตัวออกจากคณะวิทยาศาสตร์การแพทย์ เมื่อวันที่ 1 ตุลาคม 2550 คณะสหเวชศาสตร์ มหาวิทยาลัยพะเยา ทำหน้าที่ผลิตบัณฑิต ด้านวิทยาศาสตร์สุขภาพ อันได้แก่ เทคนิคการแพทย์และกายภาพบำบัด ให้เพียงพอต่อความต้องการของตลาดแรงงานในประเทศ นอกจากนี้ยังมุ่งเน้นการกระจายบัณฑิตในสาขาดังกล่าวสู่ภาคเหนือตอนบนอันเป็นการเพิ่มบุคลากรทางการแพทย์ให้แก่ภูมิภาคซึ่งจะมีบทบาทสำคัญในการให้ความรู้ ส่งเสริมและป้องกัน ทั้งไปแกรุมชน บุคลากรทางการแพท์ ผู้ป่วยและประชาชน</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรกายภาพบำบัดบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/49ec021ce72ec8837f.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรกายภาพบำบัดบัณฑิต 
                นักกายภาพบำบัด ปฏิบัติงานในหน่วยงานภาครัฐและเอกชน หรือเปิดคลินิกกายภาพบำบัด,นักวิจัยหรือผู้ช่วยนักวิจัย 
                ,นักวิชาการด้านสุขภาพ เครื่องมือ อุปกรณ์ และผลิตภัณฑ์ทางการแพทย์ 
                ,นักกายภาพบำบัดในสโมสรกีฬา/สถานเสริมความงาม 
                
            </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเทคนิคการแพทย์ </h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/507e13e59a49c81e89.jpg" alt="รูป">
            <p>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเทคนิคการแพทย์บัณฑิต 
                นักเทคนิคการแพทย์ในหน่วยงานภาครัฐและเอกชน หรือเปิดคลินิกเทคนิคการแพทย์ 
                ,นักวิทยาศาสตร์ นักวิทยาศาสตร์การแพทย์ นักวิจัย หรือ ผู้ช่วยนักวิจัย 
                ,นักวิชาการด้านเครื่องมือ อุปกรณ์ และผลิตภัณฑ์ทางการแพทย์ 
                ,นักวิชาการด้านการประเมินสภาวะสุขภาพ ในบริษัทประกัน ชีวิต 
                ,นักวิชาการในสถาบันวิทยาศาสตร์ หรือสถานศึกษา 
                ,ศึกษาต่อในระดับบัณฑิตศึกษา ทั้งในและต่างประเทศ 
                
            </p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>