<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะสาธารณสุขศาสตร์</title>
</head>

<header>
    <h1>คณะสาธารณสุขศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ ตามมติที่ประชุมสภามหาวิทยาลัยพะเยา ครั้งที่ 7/2563 เมื่อวันเสาร์ที่ 31 ตุลาคม 2563 มีมติมอบให้คณะแพทยศาสตร์ ดำเนินการจัดทำโครงสร้างของคณะแพทยศาสตร์ 
    โดยให้แยกหลักสูตรสาขาสาธารณสุขศาสตร์ออกจากหลักสูตร คณะแพทยศาสตร์ และนำเสนอที่ประชุมสภามหาวิทยาลัยพิจารณาในคราวประชุมครั้งถัดไป ดังนั้น เพื่อให้เกิดการดำเนินงานของคณะแพทยศาสตร์ 
    และการดำเนินงานของหลักสูตรกลุ่มสาธารณสุขศาสตร์เป็นไปอย่างมีประสิทธิภาพ เกิดความคล่องตัวในการบริหาร จัดการ จึงขออนุมัติแยกสำนักงานสาธารณสุขศาสตร์ ออกจากคณะแพทยศาสตร์ และจัดตั้งเป็นคณะสาธารณสุขศาสตร์ 
    เพื่อผลิต บัณฑิตด้านสาธารณสุขศาสตร์และวิทยาศาสตร์สุขภาพ ในการ พัฒนาคุณภาพชีวิตของประชาชนในชุมชน สังคม และท้องถิ่นให้ก้าวทันกับการเปลี่ยนแปลงของสังคมฐานความรู้ (Knowledge based society) 
    และระบบภูมิปัญญาสุขภาพท้องถิ่น (Wisdom for Local Health System) การจัดการเรียนการสอนจะนำปัญหาเป็นหลักในการเรียนรู้ (Problem - based leaning) และใช้ชุมชนเป็นฐาน (Community - based leaning) 
    เพื่อเป็นการเพิ่มศักยภาพในการบริหารจัดการให้มีขีดความสามารถเพียงพอต่อการบริหารการดำเนินงานทางด้านวิชาการให้นิสิตมีศักยภาพสอดรับกับพระราชบัญญัติวิชาชีพการสาธารณสุขชุมชน พ.ศ. 2556 
    โดยมีหลักสูตรที่จัดการเรียนการสอนภายใต้คณะสาธารณสุขศาสตร์จำนวน 8 หลักสูตร</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรการแพทย์แผนจีนบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/51ea70043bb8747d74.jpg" alt="รูป">
            <p>แพทย์แผนจีนในโรงพยาบาล คลินิก ทั้งรัฐบาลและเอกชนอาจารย์ในมหาวิทยาลัย นักวิจัย ประกอบธุรกิจทางด้านการแพทย์แผนจีน นักวิชาการสาธารณสุข นักวิชาการทัวไป</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรการแพทย์แผนไทยประยุกต์บัณฑิต</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/52954302113eac7586.jpg" alt="รูป">
            <p>นักวิชาการสาธารณสุข,นักส่งเสริมสุขภาพ,นักจัดการระบบบริการด้านสาธารณสุข</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาอาชีวอนามัยและความปลอดภัย</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/545c572b1fa949fd5e.jpg" alt="รูป">
            <p>เจ้าหน้าที่ความปลอดภัยในการทำงานระดับวิชาชีพในหน่วยงานทั้งภาครัฐ รัฐวิสาหกิจ และเอกชน นักวิชาการอาชีว อนามัยและความปลอดภัยในหน่วยงานของรัฐ 
            เช่นกรมโรงงานอุตสาหกรรม กรมสวัสดิการและคุ้มครองแรงงานกระทรวงแรงงาน สำนักงานสาธารณสุขจังหวัด สำนักงานสาธารณสุขอำเภอ และองค์กรปกครองส่วนท้องถิ่นต่าง ๆ 
            นักสุขศาสตร์อุตสาหกรรม ในหน่วยงานทั้งภาครัฐ รัฐวิสาหกิจ และเอกชนวิทยากรและที่ปรึกษาด้านความปลอดภัยและอาชีวอนามัยให้กับหน่วยงานภาครัฐ รัฐวิสาหกิจ และเอกชน</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาอนามัยสิ่งแวดล้อม</h2>
            <img src="https://img2.pic.in.th/pic/554325067bade39cdd.jpg" alt="รูป">
            <p>นักวิชาการสิ่งแวดล้อม นักสุขาภิบาลสิ่งแวดล้อม นักอนามัย สิ่งแวดล้อม นักวิชาการสาธารณสุขในหน่วยงาน ของรัฐ เช่นกรมควบคุมมลพิษ กรมอนามัย 
            กรมส่งเสริมสุขภาพสิ่งแวดล้อมสำนักนโยบายและแผนสิ่งแวดล้อม สำนักงานสาธารณสุขจังหวัดสำนักงานสาธารณสุขอำเภอ และองค์กรปกครองส่วนท้องถิ่นต่างๆ เจ้าหน้าที่สิ่งแวดล้อม 
            ผู้ควบคุมระบบบำบัดมลพิษน้ำ ผู้ควบคุมระบบบำบัดอากาศเสีย และผู้ควบคุมระบบการจัดการกากของเสีย อุตสาหกรรม ประจำโรงงานอุตสาหกรรมและบริษัท ที่ปรึกษาด้านสิ่งแวดล้อมต่างๆ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรสาธารณสุขศาสตรบัณฑิต สาขาวิชาอนามัยชุมชน</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/56009123706462c663.jpg" alt="รูป">
            <p>นักวิชาการสาธารณสุข หรือนักสาธารณสุขชุมชน ในหน่วยงานของรัฐบาล เอกชน องค์กรปกครองส่วนท้องถิ่น ศูนย์บริการสาธารณสุข สถาบัน สำนัก หรือหน่วยงานที่เกี่ยวข้อง 
            นักจัดการระบบบริการด้านสาธารณสุขในหน่วยงานของรัฐบาล องค์กรพัฒนาเอกชน (NGO) องค์กรปกครองส่วนท้องถิ่น สถาบัน สำนัก หรือหน่วยงานที่เกี่ยวข้อง นักพัฒนาด้านสุขภาพ 
            ผู้ช่วยนักวิจัย นักวิจัยภาครัฐและเอกชน งานอาชีพอื่น ๆ ที่เกี่ยวข้อง</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>