<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะศิลปศาสตร์</title>
</head>

<header>
    <h1>คณะศิลปศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ เปิดครั้งแรกเมื่อ พ.ศ. 2538 โดยเปิดสอนหลักสูตรบริหารธุรกิจ บัณฑิต สาขาวิชาการบริหารธุรกิจ และหลักสูตรศิลปศาสตรบัณฑิตสาขาวิชาภาษาอังกฤษ 
    ซึ่งเป็นการเรียนการสอนในวันเสาร์และ วันอาทิตย์ ณ สถานที่ทำการขั่วคราววิทยาเขตที่โรงเรียนพะเยา พิทยาคม ต่อมาในปี พ.ศ. 2542 ได้ย้ายสถานที่ทำการมายัง ตำบลแม่กา
    อำเภอเมือง จังหวัดพะเยา ในปีการศึกษา 2544 ได้จัดตั้งกลุ่มวิชาต่างๆ เป็น 3 กลุ่มวิชา คือ กลุ่มวิชาศิลปศาสตร์ กลุ่มวิชาวิทยาศาสตร์และเทคโนโลยี และกลุ่มวิชาเทคโนโลยีสารสนเทศ 
    ซึ่งในแต่ละกลุ่มวิชาได้แบ่งโครงสร้างการบริหารออกเป็นสาขาวิขา สำหรับกลุ่มวิชาศิลปศาสตร์ ประกอบด้วย 4 สาขาวิชา คือสาขาวิชาพื้นฐาน สาขาวิชาการจัดการธุรกิจสาขาวิชาการบัญชี 
    และสาขาวิชาภาษาอังกฤษ ต่อมาปีการศึกษา 2545 กลุ่มวิชาศิลปศาสตร์ ได้จัดให้มีการเรียนการสอนเพิ่มขึ้นอีก 3 สาขาวิชา คือ สาขาวิชาการท่องเที่ยวสาขาวิชาการประชาสัมพันธ์ 
    และสาขาวิชาพัฒนาสังคม ปีการศึกษา 2545 มหาวิทยาลัยนเรสวรได้ยกฐานะเป็นสำนัก วิชาศิลปศาสตร์ ประกอบด้วย 3 สาขาวิชาเดิม คือ สาขาวิชาพื้นฐาน สาขาวิชาภาษาอังกฤษ 
    และสาขาวิชาพัฒนาสังคม และได้เปิดสอนหลักสูตรเพิ่มขึ้น โดยมีสาขาวิชาที่รับผิดชอบคือสาขาวิชานิติศาสตร์ และสาขาวิชาภาษาจีน ส่วนสาขาวิชาการจัดการธุรกิจ สาขาวิชาการบัญชี 
    สาขาวิชาการท่องเที่ยว และสาขาวิชาการประชาสัมพันธ์ ได้แยกจากสำนักวิชาศิลปะศาสตร์ไปสังกัดสำนักวิชาวิทยาการจัดการและสารสนเทศศาสตร์ ที่ตั้งขึ้นใหม่ในปีการศึกษา 2547 
    เปิดสอนหลักสูตรศิลปศาสตรบัณฑิตสาขาวิชาภาษาไทย และหลักสูตรรัฐศาสตรบัณฑิต ในปีการศึกษา 2548 ได้เปิดสอนหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาญี่ปุ่นในปีการศึกษา 2550 
    เปิดหลักสูตร คือ หลักสูตรศิลปศาสตรบัณฑิตสาขาวิชาออกแบบบรรจุภัณฑ์ ในปีการศึกษา 2553 มหาวิทยาลัยนเรศวร พะเยา ได้รับการยกฐานะ เป็นมหาวิทยาลัยพะเยา 
    สำนักวิชาศิลปะศาสตร์จึงเปลี่ยนเป็นคณะศิลปศาสตร์จนถึงปัจจุบัน</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรคณะศิลปศาสตร์ หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาจีน </h2>
            <img src="https://img2.pic.in.th/pic/570776e15759fdcf86.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาจีนอาชีพในวงการอุตสาหกรรมการท่องเที่ยว การโรงแรมและการประชาสัมพันธ์ เช่น มัคคุเทศก์ 
            พนักงานต้อนรับส่วนหน้าพนักงานฝ่ายประชาสัมพันธ์ เลขานุการ พนักงานบริษัท เจ้าหน้าที่ในองค์กรรัฐและเอกขน ล่าม นักแปล นักเขียน บรรณาธิการเจ้าหน้าที่สายการบิน พนักงานบริการบนเครื่องบิน</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรคณะศิลปศาสตร์ หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาญี่ปุ่น</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/5801155251c8ac0544.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาญี่ปุ่น บุคลากรหรือเจ้าหน้าที่ผู้ใช้ภาษาญี่ปุ่นในการทำงานของหน่วยงานภาครัฐและเอกชน 
            เช่น ล่าม เลขานุการ บุคลากรในสาขาการท่องเที่ยว การโรงแรม สายการบิน นักแปล ประกอบอาชีพอิสระที่ใช้ภาษาญี่ปุ่น </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรคณะศิลปศาสตร์ หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาไทย</h2>
            <img src="https://img2.pic.in.th/pic/595260439533cf8842.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาไทย บุคลากรองค์กรสื่อสิ่งพิมพ์ อาทิ นักเขียน บรรณาธิการเป็นต้น 
            นักธุรการวิชาชีพในหน่วยงานทั้งภาครัฐและเอกชน ผู้ช่วย วิจัยในสาขาที่เกียวข้องกับภาษา สังคม วัฒนธรรมไทย บุคลากรโนองค์กรสื่อสารมวลชนและประชาสัมพันธ์ 
            อาทิ ผู้สื่อข่าว ผู้ประกาศข่าว พนักงานต้อนรับ ประชาสัมพันธ์ เป็นต้น</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรคณะศิลปศาสตร์ หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาฝรั่งเศส</h2>
            <img src="https://img2.pic.in.th/pic/60c454f45b8809aa8a.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาฝรั่งเศส เจ้าหน้าที่ในสถานทูตหรือองค์กรระหว่างประเทศ นักวิเทศ 
            สัมพันธ์ในหน่วยงานภาครัฐและเอกชน เลขานุการและเจ้าหน้าที่ฝ่ายบุคคลของทุกหน่วยงานทั้งภาครัฐและเอกชนบุคลากรในวงการ อุตสาหกรรมการท่องเที่ยวและสายการบิน 
            อาชีพอื่นๆที่เกี่ยวข้องกับการใช้ภาษาฝรั่งเศสในบริษัทนำเข้าและส่งออกสินค้า พนักงานประชาสัมพันธ์ของทุกหน่วยงานทั้งภาครัฐและเอกชน นักเขียน นักวิชาการ และนักแปล </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรคณะศิลปศาสตร์ หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาอังกฤษ</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/6151bd68b7352d0986.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาภาษาอังกฤษเจ้าหน้าที่ด้านการต่างประเทศที่เน้นการใช้ภาษาอังกฤษในการติดต่อสื่อสารของทุกหน่วยงานทั้งภาครัฐและเอกชนเลขานุการ 
            เจ้าหน้าที่งานธุรการของทุกหน่วยงานทั้งภาครัฐและเอกชน บุคลากรในวงการอุตสาหกรรมการท่องเที่ยว การโรงแรมสายการบิน การประชาสัมพันธ์ การนำเข้าและส่งออกสินค้าการหนังสือพิมพ์ และสื่อสิ่งพิมพ์ ล่าม นักแปล 
            นักเขียนบรรณาธิการ บุคลากรทางการศึกษา</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>