<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>วิทยาลัยการศึกษา</title>
</head>

<header>
    <h1>วิทยาลัยการศึกษา</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ วิทยาลัยการศึกษา เดิมเป็นบัณฑิตวิทยาลัยในสังกัดศูนย์วิทยบริการ จังหวัดพะเยา มหาวิทยาลัยนเรศวร และในปี พ.ศ. 2548 ศูนย์วิทยบริการ จังหวัดพะเยา 
        ได้เปลี่ยนเป็นมหาวิทยาลัยนเรศวรพะเยา บัณฑิตวิทยาลัยจึงเปลี่ยนเป็น สำนักงานการศึกษาภาคพิเศษ ต่อมาในวันที่ 16 กรกฎาคม พ.ศ. 2553 มหาวิทยาลัยนเรศวรพะเยาได้รับการยกฐานะเป็น 
        มหาวิทยาลัยพะเยา สำนักงานการศึกษาภาค พิเศษ จึงได้เปลี่ยนเป็นวิทยาลัยการศึกษาต่อเนื่อง และโดยมติสภามหาวิทยาลัยพะเยาโดยอาศัยอำนาจตามความในมาตรา 7 (3) 
        มาตรา 8 และมาตรา 21 แห่งพระราชบัญญัติมหาวิทยาลัยพะเยาพ.ศ. 2553[2] ในคราวประชุมครั้งที่ 5/2556 เมื่อวันที่ 14 กันยายน พ.ศ. 2556 ให้เปลี่ยนวิทยาลัยการศึกษาต่อเนื่องเป็น วิทยาลัยการศึกษา 
        และให้มีผลบังคับใช้ตั้งแต่วันที่ 1 ตุลาคม พ.ศ. 2556 เป็นต้นไป ทั้งนี้ หลักสูตรการศึกษาได้เปิดการเรียนการสอนตั้งแต่ยังเป็นมหาวิทยาลัยนเรศวร พะเยา ภายใต้ การบริหารจัดการของคณะศิลปศาสตร์ 
        ดังนั้นหลักสูตรด้านการศึกษาของวิทยาลัยการศึกษา มหาวิทยาลัยพะเยา จึงเป็นหลักสูตรที่ปรับปรุงและ พัฒนามาจากหลักสูตรของมหาวิทยาลัยนเรศวร ซึ่งเป็นหลักสูตรที่ได้รับความนิยมและมีชื่อเสียงเป็นที่ยอมรับในแวดวงการศึกษาโดยทั่วไป</h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
     <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรระดับปริญญาตรี การศึกษาบัณฑิต (4 ปี) </h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/73714d63d2bc8d08aa.jpg" alt="รูป">
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาภาษาไทย</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาภาษาอังกฤษ</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาภาษาจีน</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาสังคมศึกษา</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาคณิตศาสตร์</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาเคมี</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาฟิสิกส์</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาชีววิทยา</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาพลศึกษา</p>
            <p>แผนการศึกษา สาขาวิชาการศึกษา แขนงวิชาดนตรีและนาฏศิลป์</p>
        </div>

        <div class="faculty">
            <h2>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา</h2>
            <img src="https://img2.pic.in.th/pic/74b6778e2011312120.jpg" alt="รูป">
            <p>ครู สังกัด หน่วยงานของรัฐและเอกชน, บุคลากรทางการศึกษา สังกัด หน่วยงานของรัฐและเอกชน, นักการศึกษา/นักวิชาการอิสระ, นักวิจัยทางการศึกษา</p>
            <br>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>