<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะเทคโนโลยีสารสนเทศและการสื่อสาร</title>
</head>

<header>
    <h1>คณะเทคโนโลยีสารสนเทศและการสื่อสาร</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>คณะเทคโนโลยีสารสนเทศและการสื่อสาร (ICT) กำเนิดขึ้นเมื่อ วันที่ 22 มิถุนายน 2544 ใช้ชื่อว่า "กลุ่มวิชาเทคโนโลยีสารสนเทศ" สังกัดวิทยาเขตสารสนเทศพะเยา มหาวิทยาลัยนเรศวร 
        เปิดสอนหลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาคอมพิวเตอร์ธุรกิจ ปี 2545 เปลี่ยนชื่อเป็น "สำนักวิชาเทคโนโลยีสารสนเทศและการสื่อสาร"เปิดสอนเพิ่ม 2 หลักสูตร ได้แก่ 
        หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์ และ หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์ ปี 2550 - 2551 เปิดสอนเพิ่ม 2 หลักสูตร 3 สาขาวิชา 
        ได้แก่หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาเทคโนโลยีสารสนเทศและสาขาวิชาภูมิสารสนเทศศาสตร์ และหลักสูตรวิทยาศาสตร์มหาบัณฑิต สาขาวิชาเทคโนโลยีอินเทอร์เน็ต 
        ปี 2553 มหาวิทยาลัยนเรศวร พะเยา ได้รับการ ยกฐานะเป็น "มหาวิทยาลัยพะเยา" สำนักวิชาเทคโนโลยีสารสนเทศและการสื่อสาร จึงเปลี่ยนชื่อเป็น "คณะเทคโนโลยีสารสนเทศและการสื่อสาร "
        โดยมีวิสัยทัศน์ว่า "ผลิตกำลังคนด้านดิจิทัลพร้อมใช้งาน พัฒนางานวิจัยและนวัตกรรมสู่ชุมชนด้วยมาตรฐานสากล" ปี 2556 - 2557 เปิดสอนเพิ่ม 3 หลักสูตร 4 สาขาวิชา ได้แก่
        หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมซอฟต์แวร์และสาขาวิชาวิศวกรรมสารสนเทศและการสื่อสาร หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่ และ 
        หลักสูตร ศิลปกรรมศาสตร์บัณฑิต สาขาวิชาเทคโนโลยีคอมพิวเตอร์กราฟิกและ มัลติมีเดีย และเปิดหลักสูตรควบระดับปริญญาตรี 2 ปริญญา 2 หลักสูตร ได้แก่ หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาเทคโนโลยีสารสนเทศ 
        และ หลักสูตรศิลปศาสตร์บัณฑิต สาขาวิชาภาษาอังกฤษและ หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาเทคโนโลยีสารสนเทศและ หลักสูตรนิติศาสตร์บัณฑิต ปี 2559 - 2560 เปิดสอนเพิ่ม 1 หลักสูตร 2 สาขาวิชา 
        ได้แก่หลักสูตรวิทยาศาสตร์มหาบัณฑิต สาขาวิชาการจัดการเทคโนโลยีสารสนเทศสมัยใหม่ และ สาขาวิชาภูมิสารสนเทศประยุกต์ ปี 2564 เปิดสอนเพิ่ม 3 หลักสูตร ได้แก่ หลักสูตร วิทยาศาสตร์บัณฑิต 
        สาขาวิชาวิทยาการข้อมูลและการประยุกต์หลักสูตรวิศวกรรมศาสตรมหาบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์และหลักสูตรปรัชญาตุษฎีบัณฑิต สาขาวิชาภูมิสารสนเทศประยุกต์ 
        ปี 2567 เปิดสอนเพิ่ม 2 หลักสูตร ได้แก่ หลักสูตรวิทยาศาสตร์มหาบัณฑิต สาขาวิชาวิทยาการข้อมูลเชิงพื้นที่ และ หลักสูตรวิทยาศาสตร์ดุษฎีบัณฑิต สาขาวิชาวิทยาการข้อมูลเชิงพื้นที่ 
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">

        <div class="faculty">
            <h2>หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาธุรกิจดิจิทัล</h2>
            <img src="https://img2.pic.in.th/pic/71aa3c37d9bd5178c.jpg" alt="รูป">
            <p> อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักวิเคราะห์ธุรกิจ, นักวิเคราะห์และออกแบบระบบ, นักวิเคราะห์ข้อมูล, ผู้ประกอบการธุรกิจส่วนตัว, นักวางแผนธุรกิจดิจิทัล, 
            นักพัฒนาระบบสารสนเทศ, พนักงานสนับสนุนระบบงานด้านคอมพิวเตอร์</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาคอมพิวเตอร์ธุรกิจ</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/85fa04b2f1da6eb54.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา พนักงานสนับสนุนระบบงานด้านคอมพิวเตอร์,นักวิเคราะห์ทางด้านธุรกิจ, นักวิเคราะห์และออกแบบระบบบ, นักพัฒนาระบบบ, 
            นักวิชาการคอมพิวเตอร์,ผู้ประกอบการธุรกิจส่วนตัว,พนักงานสนับสนุนงานบริหารทั่วไป</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/958d34fde6c4a94cf.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา วิศวกรคอมพิวเตอร์, ผู้ดูแลระบบฐานข้อมูล, ผู้ดูแลระบบเครือข่าย, นักเขียนโปรแกรม,นักวิเคราะห์และออกแบบระบบ, 
            นักออกแบบและพัฒนาระบบสมองกลฝังตัว</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมซอฟต์แวร์</h2>
            <img src="https://img2.pic.in.th/pic/10001d91bc80e14b87.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา วิศวกรซอฟต์แวร์,ผู้จัดการโครงการ,นักทดสอบซอฟต์แวร์, นักวิเคราะห์ซอฟต์แวร์, ผู้ประสานงานโครงการ, 
            นักพัฒนาซอฟต์แวร์ส่วนหน้าและส่วนหลัง, นักออกแบบประสบการณ์ผู้ใช้และส่วนต่อประสานกับผู้ใช้</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์</h2>
            <img src="https://img2.pic.in.th/pic/11744b6f2755f9479d.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักวิทยาการคอมพิวเตอร์, ผู้จัดการโครงการซอฟต์แวร์,นักพัฒนาซอฟต์แวร์เต็มรูปแบบ, นักพัฒนาซอฟต์แวร์ส่วนหน้าและส่วนหลัง, 
            นักวิเคราะห์และออกแบบระบบงานสารสนเทศ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการข้อมูลและการประยุกต์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/1247f0e3cb3d6d0abb.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักวิเคราะห์ข้อมูลเชิงสถิติ, วิศวกรปัญญาประดิษฐ์, สถาปนิกข้อมูล, นักวิทยาศาสตร์ข้อมูล, ผู้ดูแลระบบฐานข้อมูลขนาดใหญ่, วิศวกรข้อมูล</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีสารสนเทศ</h2>
            <img src="https://img2.pic.in.th/pic/13b18636752aa931ae.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักวิเคราะห์ข้อมูล, ผู้จัดการฐานข้อมูล, นักวิชาการคอมพิวเตอร์, ผู้ดูแลระบบเครือข่าย, ผู้ดูแลความมั่นคงของเครือข่ายสารสนเทศ</p>
        </div>
        
        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาภูมิสารสนเทศศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/14efdd68f31ccd0a8c.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักภูมิศาสตร์และสารสนเทศ, นักวิชาการแผนที่และภาพถ่าย, นักวิเคราะห์และออกแบบระบบงานภูมิสารสนเทศ, 
            นักเขียนโปรแกรมหรือผู้พัฒนาซอฟต์แวร์และเว็บไซต์ด้านภูมิสารสนเทศ</p>
        </div>
        
        <div class="faculty">
            <h2>หลักสูตรศิลปกรรมศาสตรบัณฑิต สาขาวิชาคอมพิวเตอร์กราฟิกและมัลติมีเดีย</h2>
            <img src="https://img2.pic.in.th/pic/150cad08083cfcb056.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา นักออกแบบอิสระ, นักออกแบบกราฟิก, นักออกแบบสื่อมัลติมีเดีย, นักตัดต่อภาพเคลื่อนไหว, นักวาดภาพประกอบ, นักออกแบบภาพสื่อสาร, 
            นักออกแบบอินเทอร์แอคทีฟ, นักออกแบบสื่อโฆษณา, นักออกแบบภาพเคลื่อนไหว 2 มิติ และ 3 มิติ</p>
        </div>

        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>