<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะทันตแพทยศาสตร์</title>
</head>

<header>
    <h1>คณะทันตแพทยศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ
        คณะทันตแพทยศาสตร์ มหาวิทยาลัยพะเยา ได้จัดตั้งตามมติสภามหาวิทยาลัยพะเยา ให้ความเห็นขอบในคราวประชุมครั้งที่ 4/2555 เมื่อวันที่ 2 มิถุนายน 2555 เพื่อผลิตทันตแพทย์เพิ่ม 
        ตามความต้องการของประเทศ และ สามารถตอบสนองนโยบายการพัฒนาสุขภาพของประชาชนของรัฐบาลในการแก้ปัญหา การกระจายบุคลากรทางวิทยาศาสตร์สุขภาพและทางด้านสาธารณสุข
        ของประเทศเป็นรูปธรรม ทันตแพทย์เป็นสาขาวิชาที่ยาดแคลน โดยเฉพาะในเขตภาคเหนือตอนบน 4 จังหวัด ได้แก่ จังหวัดพะเยา จังหวัดแพร่ จังหวัดน่าน และ จังหวัดเชียงราย 
        ปัจจุบันคณะทันตแพทยศาสตร์ ผลิตทันตแพทย์ในระดับปริญญาตรี โดยมุ่งผลิตบัณฑิตสาขาวิซาทันตแพทยศาสตร์ที่มีคุณธรรม จริยธรรม มีจรรยาบรรณ มีความรู้ความชำนาญในวิชาชีพ 
        และมีคุณสมบัติสอดคล้องกับความ ต้องการและระบบบริการสุขภาพของประเทศ นอกจากนั้น มหาวิทยาลัยพะเยา ยังได้มีแผนดำเนินการ ก่อสร้างอาคารเรียนและอาคารปฏิบัติการรวมทั้งคลินิกทันตกรรม 
        ในบริเวณศูนย์การแพทย์ของมหาวิทยาลัยพะเยา เพื่อใช้เป็นสถานที่ดำเนินการจัดการเรียนการสอน และเป็นสถานที่ฝึก ทักษะการปฏิบัติงานวิชาชีพเพิ่มเติมให้นิสิตทันตแพทยศาสตร์อีกด้วย
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรทันตแพทยศาสตรบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/1607a2e58fbc8095ea.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา ทันตแพทย์,อาจารย์, นักวิจัย, ที่ปรึกษาบริษัทผลิตภัณฑ์ทางทันตกรรม, ประกอบธุรกิจทางด้านทันตกรรม</p>
        </div>
        
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>