<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะนิติศาสตร์</title>
</head>

<header>
    <h1>คณะนิติศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ ในปีงบประมาณ 2546 มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศ พะเยา มีการพัฒนาโครงสร้างทางการบริหาร และการเปิดสอนหลักสูตรต่าง ๆ เพื่อให้สอดคล้องกับนโยบายของรัฐบาลกับความ 
    ต้องการด้านการศึกษาของเยาวชน และได้เปิดรับนิสิตสาขาวิชา นิติศาสตร์เป็นครั้งแรก โดยสำนักวิชาศิลปศาสตร์ในปังบประมาณ 2551 สาขาวิชานิติศาสตร์ ได้แยกตัวจากสำนักวิชาศิลปศาสตร์ 
    ต่อมาได้ยกฐานะเป็น คณะนิติศาสตร์มหาวิทยาลัยพะเยา ตั้งแต่ปี พ.ศ. 2553 จนถึงปัจจุบัน คณะนิติศาสตร์ มหาวิทยาลัยพะเยา เป็นส่วนงานวิชาการ ที่มุ่งผลิตบัณฑิตให้เป็นผู้มีความรู้ ความสามารถทางกฎหมายรวมทั้งจะต้องเป็นนักนิติศาสตร์ที่มีจรรยาบรรณวิชาชีพ 
    มีคุณธรรมและมีความรับผิดชอบต่อสังคม ทั้งนี้มุ่งหวังเพื่อให้บัณฑิตที่สำเร็จการศึกษาสามารถรับใช้สังคม เศรษฐกิจในเขตภาคเหนือตอนบนอย่างมีคุณภาพ
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรคณะนิติศาสตร์ หลักสูตรนิติศาสตรบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/1770b20223db80eda9.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษา หลักสูตรนิติศาสตรบัณฑิต อาชีพที่เกี่ยวข้องกับกฎหมาย เมื่อสอบผ่านตามหลักเกณฑ์การสมัครของอาชีพนั้นๆ นิติกร,ปลัดอำเภอ,ปลัดเทศบาล,นักกฎหมายในหน่วยงานของเอกชน,ที่ปรึกษาด้านกฎหมาย,
                ทนายความ,ตำรวจ พนักงานสอบสวน เจ้าหน้าที่สอบสวนคดี,อนุญาโตตุลาการ,ตุลาการศาลปกครอง,อาชีพอื่นๆ ที่เกี่ยวข้องกับกฎหมาย และอาชีพที่สามารถปฏิบัติได้ หลังจากสอบได้เนติบัณฑิตไทยและสอบผ่านตามหลักเกณฑ์การสมัครของอาชีพนั้นๆ 
                อัยการ,ผู้พิพากษา</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>