<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะบริหารธุรกิจและนิเทศศาสตร์</title>
</head>

<header>
    <h1>คณะบริหารธุรกิจและนิเทศศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ
    คณะบริหารธุรกิจและนิเทศศาสตร์ ได้เริ่มก่อตั้งขึ้นเมื่อวันที่ 28 มีนาคม 2547 ตามคำสั่งมหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา ที่ 040/2546 เบื้องต้นใช้ชื่อว่า "กลุ่มวิทยาการจัดการและสารสนเทศศาสตร์ " 
    ซึ่งเป็นการแยกตัวออกจาก "กลุ่มศิลปศาสตร์" หรือ "คณะศิลปศาสตร์"ในปัจจุบัน ต่อมาในปีการศึกษา 2553 มหาวิทยาลัยนเรศวรพะเยา ได้รับการยกฐานะเป็นมหาวิทยาลัยในกำกับของรัฐ และเปลี่ยนชื่อเป็น มหาวิทยาลัยพะเยา 
    สำนักวิชาวิทยาการจัดการและสารสนเทศศาสตร์ จึงได้ปรับเปลี่ยนเป็น คณะวิทยาการ จัดการและสารสนเทศศาสตร์ พ.ศ. 2563 เปลี่ยนชื่อเป็นคณะบริหารธุรกิจและนิเทศศาสตร์
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรนิเทศศาสตรบัณฑิต สาขาวิชาการจัดการการสื่อสาร</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/186214b9e8a6f18882.jpg" alt="รูป">
            <p>นักประชาสัมพันธ์ พิธีกร, ผู้ประกาศ, นักข่าว, เจ้าหน้าที่สื่อสารองค์กร, นักจัดรายการวิทยุ และอื่นๆ</p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรนิเทศศาสตรบัณฑิต สาขาวิชาการสื่อสารสื่อใหม่</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/19c8f3794228605ca2.jpg" alt="รูป">
            <p>เจ้าหน้าที่พัฒนาและออกแบบข้อมูลสำหรับสื่อดิจิทัลและสื่อใหม่, ผู้สื่อข่าว, ผู้ประกาศข่าว, ผู้ผลิตรายการในองค์กร, สื่อมวลชนทั้งในระดับชาติและระดับท้องถิ่นชุมชน, นักสร้างสรรค์และผลิตสื่อ,
            ผู้ประกอบการด้านสื่อ, การผลิตสื่อ, หรืองานอิสระที่เกี่ยวข้องกับนิเทศศาสตร์, นักวิชาการต้านการสื่อสาร</p> 
        </div>

        <div class="faculty">
            <h2>หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาการเงินและการธนาคาร</h2>
            <img src="https://img2.pic.in.th/pic/2062f0e6b4c3888265.jpg" alt="รูป">
            <p>ผู้แนะนำการลงทุน, นักวิเคราะห์หลักทรัพย์, นักวางแผนการลงทุน, พนักงานกองทุนรวม, นักวิเคราะห์ความเสี่ยงและจัดการความเสี่ยง, พนักงานกองทุนบำเน็จบำนาญนักการประกันภัย,
            พนักงานประกันชีวิต, นักวิเคราะห์สินเชื่อและจัดการหนี้ นักการธนาคาร, ผู้ประกอบการธุรกิจส่วนตัวและอื่นๆหลักสูตรบริหารธุรกิจบัณฑิต, สาขาวิชาการจัดการธุรกิจประกอบธุรกิจส่วนตัว, อาจารย์, 
            เลขานุการ, นักธุรกิจ,นักการขาย, นักการตลาด และอื่นๆ</p>  
        </div>

        <div class="faculty">
            <h2>หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาการตลาดดิจิทัล</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/211f9c2580fc45493c.jpg" alt="รูป">
            <p>นักการตลาตติจิทัล, ผู้จัดการโซเชียลมีเดีย, นักสื่อสารการตลาดเชิงเนื้อหา, ผู้เชี่ยวชาญการตลาดทางด้านเครื่องมือ ค้นหา (SEO & SEM), นักวางแผนโฆษณาดิจิทัล, นักวิจัยทางการตลาด, 
            นักวิเคราะห์และวางแผนทางการตลาด, ที่ปรึกษาทางการตลาด, ผู้บริหารฝ่ายการตลาด, ผู้บริหารผลิตภัณฑ์ผู้บริหารรตราผลิตภัณฑ์, เจ้าของธุรกิจหรือผู้ประกอบการธุรกิจ
            หลักสูตรบัญชีบัณฑิตผู้สำเร็จการศึกษาสามารถประกอบวิชาชีพบัญชีได้</p> 
        </div>

        <div class="faculty">
            <h2>หลักสูตรศิลปสาสตรบัณฑิชิต สาขาวิชาการท่องเที่ยวและการโรงแรม</h2>
            <img src="https://img2.pic.in.th/pic/221b970610d6ff1566.jpg" alt="รูป">
            <p> มัคคุเทศก์, พนักงานจัดนำเที่ยว, พนักงานต้อนรับ, พนักงานการตลาด, พนักงานต้อนรับบนเครื่องบิน และอื่น ๆ
            </p> 
        </div>

        <div class="faculty">
            <h2>หลักสูตรเศรษฐศาสตรบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/23518c7edd7fa1f832.jpg" alt="รูป">
            <p>เศรษฐกร, เจ้าหน้าที่วิเคราะห์นโยบายและแผน, นักวิชาการ, บุคลากรทางการศึกษา, อาจารย์, นักวิจัย, นักวิเคราะห์, นักสถิติ และอื่นๆ</p> 
        </div>

            
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>