<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะพยาบาลศาสตร์</title>
</head>

<header>
    <h1>คณะพยาบาลศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ วันที่ 20 มิถุนายน 2538 คณะรัฐมนตรีมีมติเห็นชอบให้จัดตั้งวิทยาเขตมหาวิทยาลัยนเรศวรขึ้นที่จังหวัดพะเยา และ ต่อมาวันที่ 8 ตุลาคม 2539 เปลี่ยนชื่อเป็น 
        มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยาเดือนมกราคม พ.ศ. 2546 มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา ได้จัดตั้งสำนักวิชา วิทยาศาสตร์สุขภาพขึ้นอีก 1 สำนักวิชา 
        ประกอบด้วย2สาขาวิชา คือ สาขาวิชาพยาบาลศาสตร์ และสาขาวิชาบริบาลเภสัชกรรม โดยเปิดรับนิสิตรุ่นแรก ในปีการศึกษา 2546 ปีการศึกษา 2548 มหาวิทยาลัยนเรศวร วิทยาเขตสารสนเทศพะเยา 
        ได้ยกเลิกสำนักวิชาวิทยาศาสตร์สุขภาพโดยให้จัดตั้งแยกเป็น 2 สำนักวิชา คือ สำนักวิชาพยาบาลศาสตร์และสำนักวิชาเภสัชศาสตร์ สำนักวิชาพยาบาลศาสตร์ 
        ได้ดำเนินการขอรับรองจัดตั้งเป็นสถาบันการศึกษาการพยาบาลและการผดุงครรภ์ขึ้นใหม่ต่อสภาการพยาบาล และได้รับการรับรองจากสภาการพยาบาล เมื่อวันที่ 15 กันยายน 2549
        พ.ศ. 2553 มหาวิทยาลัยนเรศวร พะเยา ได้ยกฐานะเป็นมหาวิทยาลัยในกำกับของรัฐ ภายใต้ชื่อว่า มหาวิทยาลัยพะเยา จึงยกฐานะจากสำนักวิชาพยาบาลศาสตร์เป็นคณะพยาบาลศาสตร์
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรพยาบาลศาสตรบัณฑิต</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/2441ab70eac3e5bf32.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรพยาบาลศาสตรบัณฑิต พยาบาลวิชาชีพในสถานบริการสุขภาพ ทุกระดับ ทั้งภาครัฐ และเอกชน,ประกอบอาชีพอิสระด้านการพยาบาลและการผดุงครรภ์ชั้นหนึ่ง 
            ที่ไม่ขัดต่อพระราชบัญญัติวิชาชีพ,ประกอบวิชาชีพในสถานประกอบการและสถานศึกษา,นักวิจัยทางด้านสุขภาพ,ประกอบอาชีพอื่น ๆ</p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>