<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะพลังงานและสิ่งแวดล้อม</title>
</head>

<header>
    <h1>คณะพลังงานและสิ่งแวดล้อม</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ คณะพลังงานและสิ่งแวดล้อม เป็นหน่วยงานหนึ่งในสังกัดมหาวิทยาลัยพะเยา จัดตั้งขึ้นในวันที่ 1 ตุลาคม พ.ศ. 2550 นับเป็นคณะที่ 12 ของมหาวิทยาลัยพะเยา 
    คณะพลังงานและสิ่งแวดล้อม มีพันธกิจหลักในการจัดการเรียนการสอนระดับปริญญาตรีและ บัณฑิตศึกษาทางด้านพลังงานและสิ่งแวดล้อม ปัจจุบันเปิดสอนหลักสูตรในระดับปริญญาตรี 2 หลักสูตร 
    คือ หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมสิ่งแวดล้อม หลักสูตรวิทยาศาสตร บัณฑิต สาขาวิชาการจัดการพลังงานและสิ่งแวดล้อม </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตร์บัณฑิต สาขาวิชาการจัดการพลังงานและสิ่งแวดล้อม</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/25bef50549d04396c4.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาการจัดการพลังงานและสิ่งแวดล้อม นักวิชาการด้านการจัดการพลังงานและสิ่งแวดล้อมโนหน่วยงานภาครัฐและเอกชน, 
            ผู้ควบคุมดูแลงานต้านการจัดการพลังงานและสิ่งแวดล้อม ประจำโรงงาน, ผู้ประกอบการธุรกิจด้านนวัตกรรมและการจัดการพลังงานและสิ่งแวดล้อม, นักวิทยาศาสตร์และนักวิจัยประจำห้องปฏิบัติการด้านพลังงานและสิ่งแวดล้อม </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมสิ่งแวดล้อม</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/2630683c159d3637db.jpg" alt="รูป">
            <p>อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรม สิ่งแวดล้อม วิศวกรสิ่งแวดล้อมประจำโรงงานควบคุมดูแลระบบผลิตน้ำสะอาดและบำบัดมลพิษต่างๆ, 
            วิศวกรสิ่งแวดล้อม, นักวิชาการ, นักวิจัย, นักวางแผนและกำหนดนโยบายด้านสิ่งแวดล้อม, ผู้ประเมินความเสี่ยงและผลกระทบ, ด้านสิ่งแวดล้อม, ในหน่วยงานราชการ, รัฐวิสาหกิจ และองค์กร ท้องถิ่น 
            สถาบันการศึกษา และหน่วยงานเอกขนที่เกี่ยวข้อง,ที่ปรึกษาและผู้ตรวจประเมินงานด้านระบบการจัดการ สิ่งแวดล้อมในบริษัทที่ปรึกษาออกแบบระบบด้านสิ่งแวดล้อม,วิศวกรควบคุมการสร้าง การผลิต การติดตั้ง 
            ระบบจัดการทางสิ่งแวดล้อม และ อำนวยการใช้การบำรุง รักษาระบบทาง สิ่งแวดล้อม </p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>