<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะแพทยศาสตร์</title>
</head>

<header>
    <h1>คณะแพทยศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ มหาวิทยาลัยพะเยา เป็นมหาวิทยาลัยขยายโอกาสและความเสมอภาคทางการศึกษา มุ่งเน้นการพัฒนาวิชาการ วิชาชีพชั้นสูงในทุกด้าน เป็นศูนย์รวมแห่งวิทยาการต่างๆ 
    ที่มีคุณค่าต่อมวลมนุษย์โดยเฉพาะ 6 จังหวัดในเขตภาคเหนือตอนบน คือ พะเยา แพร่ น่านเชียงราย ลำปาง และแม่ย่องสอน ที่ประชากรประสบปัญหาภาวะยากจน ปัญหาด้านสุขภาพและด้านสังคม 
    การขยายโอกาสทางการศึกษาเพื่อพัฒนาทรัพยากรมนุษย์เป็นปัจจัยสำคัญในการซักนำให้เกิดความเจริญที่ยั่งยืน ช่วยบรรเทาและขจัดปัญหาดังกล่าว ดังนั้นคณะแพทยศาสตร์ จึงมุ่งผลิตบัณฑิตเป็นทีมสุขภาพครอบครัว 
    (Family Health Team) เพื่อบริการวิชาการและวิจัยทางการแพทย์และสาธารณสุขที่มีคุณภาพ ได้มาตรฐานสากล และพัฒนาองค์ความรู้สู่ชุมชนให้เข้มแข็งและสังคมเป็นสุข ภายใน 10 ปี</h4>
    
     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรแพทยศาสตรบัณฑิต</h2>
            <img src="https://img2.pic.in.th/pic/27826cfe434dd6838d.jpg" alt="รูป">
            <p>เป็นแพทย์ในสถานพยาบาลของรัฐ เอกชน และสถาบัน/สำนัก/หน่วยงานด้านการแพทย์และสาธารณสุข
            </p> 
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาปฏิบัติการฉุกเฉินการแพทย์</h2>
            <img src="https://img2.pic.in.th/pic/28ce8ab887109860c3.jpg" alt="รูป">
            <p>เป็นนักปฏิบัติการฉุกเฉินการแพทย์ในสถานพยาบาลของรัฐเอกชน องค์กรปกครองส่วนท้องถิ่น และสถาบัน/สำนัก/หน่วยงาน ด้านการแพทย์ฉุกเฉินรวมทั้งสามารถศึกษาต่อระดับบัณฑิตศึกษา
            สาขาปฏิบัติการฉุกเฉินการแพทย์ วิทยาศาสตร์สุขภาพ หรือสาขาวิชาที่เกี่ยวข้อง นักวิจัยด้านการแพทย์และสาธารณสุข</p> 
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>