<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssNa.css">   
    <title>คณะเภสัชศาสตร์</title>
</head>

<header>
    <h1>คณะเภสัชศาสตร์</h1>
     <!-- กลับหน้าหลัก-->
    <nav>
        <a href="/Project" class="nav-button"><h3>Back</h3></a>
    </nav>
</header>

<body class="container">
    <h4>ประวัติความเป็นมาโดยย่อ 
        คณะเภสัชศาสตร์ มหาวิทยาลัยพะเยา เริ่มเปิดการเรียนการสอนเมื่อปี พ.ศ. 2546 เดิมเป็นส่วนหนึ่ง ของสำนักวิชาวิทยาศาสตร์สุขภาพ ซึ่งประกอบด้วยสาขาวิชาบริบาลเภสัชกรรม สาขาวิชาพยาบาลศาสตร์ และสาขาวิชาสาธารณสุขศาสตร์ ต่อมาในปี พ.ศ. 
        2548 จึงได้มีการแยกการจัดการเรียนการสอนเป็นสำนักวิชาเภสัชศาสตร์ หลังจากที่มหาวิทยาลัยพะเยา ได้ยกฐานะเป็นมหาวิทยาลัยในกำกับของรัฐ จึงเปลี่ยนชื่อเป็น คณะเภสัชศาสตร์ จัดตั้งขึ้นเพื่อผลิตเภสัชกรให้เพียงพอกับความต้องการของประเทศ มุ่งเน้นการกระจายเภสัขกรสู่ภาคเหนือตอนบน อันเป็นการเพิ่มบุคลากรให้แก่ภูมิภาค ซึ่งจะมีบทบาทสำคัญในการให้ความรู้ และการคุ้มครองด้านยา แก่บุคลากร ทางการแพทย์ ผู้ป่วยและประชาชนทั่วไป
    </h4>

     <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
    <section class="faculty-list">
        <div class="faculty">
            <h2>หลักสูตรเภสัชศาสตรบัณฑิต สาขาวิชาการบริบาลทางเภสัชกรรม 
                </h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/2934dd7cca87ecbb28.jpg" alt="รูป">
            <b><p> อาชีพที่สามารถปฏิบัติได้หลังสำเร็จการศึกษาหลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาการจัดการพลังงานและ สิ่งแวดล้อม
            นักวิชาการด้านการจัดการพลังงานและสิ่งแวดล้อมโนหน่วยงานภาครัฐและ,นักวิชาการด้านกาานและสิ่งแวดล้อมโนหน่วยงานภาครัฐและเอกชน,นักวิชาการด้านการจัดการพลังงานและสิ่งแวดล้อมโยงานภาครัฐและเอกชน,นักวิชาการด้านการจัดการพลังงานและสิ่งแวดล้อมโนหน่วยงานภาครัฐและเอกชน </p>
        </div>

        <div class="faculty">
            <h2>หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาศาสตร์เครื่องสำอาง</h2>
            <img src="https://img2.pic.in.th/pic/307ab1b18fb31f669a.jpg" alt="รูป">
            <p>นักวิจัยและพัฒนาในสถานประกอบการการผลิตและจัดจำหน่ายเครื่องสำอาง,นักวิชาการในสถาบันสุขภาพและความงาม,ผู้ประกอบการธุรกิจผลิตเครื่องสำอาง จำหน่ายและนำเข้าวัตถุดิบทางเครื่องสำอาง,นักวิจัยหรือนักวิชาการทำงานเกี่ยวกับความปลอดภัยของเครื่องสำอางในหน่วยงานของสถาบันต่าง ๆ,นักการตลาดในธุรกิจเครื่องสำอาง,ศึกษาต่อระดับปริญญาโท และปริญญาเอก สาขาวิชา วิทยาศาสตร์เครื่องสำอาง และสาขาที่เกี่ยวข้อง
            </p>
        </div>
    </section>
    
    <footer>
        <div class="footer-main">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2>
                    <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>
                    <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p>
                </div>
                <div class="footer-middle">
                    <h3>เมนูลัด</h3>
                    <ul>
                        <li><a href="/Project">หลักสูตรสายการเรียน</a></li>
                        <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <h3>ติดต่อเรา</h3>
                    <p>โทรศัพท์: 012-345-6789</p>
                    <p>อีเมล: info@up.ac.th</p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                        </a>
                        <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                            <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>