<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แนะนำคณะในมหาวิทยาลัย</title>
    <link rel="stylesheet" href="/Css/CssProject.css">
    <link rel="stylesheet" href="/Css/CssButtonProject.css">
    
</head>

    <!-- เริ่มต้นเนื้อหาในส่วนของ Body -->
<body>

    <header>
        <h1>แนะนำคณะในมหาวิทยาลัยพะเยา</h1> <!-- หัวข้อหลักของหน้า -->
        <p>สำรวจคณะต่าง ๆ และข้อมูลที่น่าสนใจ</p> <!-- คำอธิบายสั้นๆ เกี่ยวกับเนื้อหาในหน้านี้ -->

            <!-- เมนูนำทาง -->
        <nav>
            <a href="/home" class="nav-button"><h3>กลับหน้าหลัก</h3></a> <!-- ปุ่มสำหรับกลับไปหน้าหลัก -->
        </nav>
        
        
    </header>
    
         <!-- ส่วนของรายการคณะทั้งหมด -->
    <section class="faculty-list">
            <!-- คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ -->
        <div class="faculty">
            <h2>คณะเกษตรศาสตร์และทรัพยากรธรรมชาติ</h2> <!-- ชื่อคณะ -->
            <img src="https://img2.pic.in.th/pic/160c4276d4e4c281d6.png"> <!-- รูปภาพของคณะ -->
            <center><a href="/Na1"><button>Click</button></a></center> <!-- ปุ่มกดเพื่อนำไปยังข้อมูลคณะ -->
            
        </div>
             <!-- คณะ ลิงค์รูปภาพ เเละ ปุ่ม-->
        <div class="faculty">
            <h2>คณะเทคโนโลยีสารสนเทศและการสื่อสาร</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/1570cecd506dbe8115.png">
            <center><a href="/Na2"><button>Click</button></a></center>
        
        </div>

        <div class="faculty">
            <h2>คณะทันตแพทยศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/966daf5fdc30e13b8.png">
            <center><a href="/Na3"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะนิติศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/1014aa43f7b6e20635.png">
            <center><a href="/Na4"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะบริหารธุรกิจและนิเทศศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/127ed70778f3aeb6c8.png">
            <center><a href="/Na5"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะพยาบาลศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/21f2b922-8c44-4a87-a0cc-b0832780399a.jpg" class>
            <center><a href="/Na6"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะพลังงานและสิ่งแวดล้อม</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/11e9b29d5e94729cf.png">
            <center><a href="/Na7"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะแพทยศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/13b37ec0cf17a4da92.png">
            <center><a href="/Na8"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะเภสัชศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/7171bde75ee35e21d.png">
            <center><a href="/Na9"><button>Click</button></a></center>
        </div>

        <div class="faculty"> 
            <h2>คณะรัฐศาสตร์และสังคมศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/5334eb236ee2af275.png">
            <center><a href="/Na10"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะวิทยาศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/17c04e6f3263562174.png">
            <center><a href="/Na11"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะวิทยาศาสตร์การแพทย์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/3ac599d51ce027d38.png">
            <center><a href="/Na12"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะวิศวกรรมศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/61b1beef2a7646d1b.png">
            <center><a href="/Na13"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะสถาปัตยกรรมศาสตร์และศิลปกรรมศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/8fa25006787bd6993.png">
            <center><a href="/Na14"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะสหเวชศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/14d191da30a477c622.png">
            <center><a href="/Na15"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะสาธารณสุขศาสตร์</h2>
            <img src="https://img5.pic.in.th/file/secure-sv1/11a22b9aa7c2b3472c.png">
            <center><a href="/Na16"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะศิลปศาสตร์</h2>
            <img src="https://img2.pic.in.th/pic/206434b17af3a6452.png">
            <center><a href="/Na17"><button>Click</button></a></center>
        </div>

        <div class="faculty">
            <h2>คณะวิทยาลัยการศึกษา</h2>
            <img src="https://img2.pic.in.th/pic/41c6a2ff72a7e2074.png">
            <center><a href="/Na18"><button>Click</button></a></center>
        </div>


    </section>

    <body class="container">
        <!-- ฟุตเตอร์ -->
        <footer>
            <div class="footer-main"> <!-- คอนเทนเนอร์หลักของฟุตเตอร์ -->
                <div class="footer-content"> <!-- กล่องเนื้อหาในฟุตเตอร์ -->

                        <!-- ส่วนซ้ายของฟุตเตอร์ -->
                    <div class="footer-left">
                        <h2>&copy; 2025 มหาวิทยาลัยพะเยา</h2> <!-- แสดงข้อความลิขสิทธิ์ -->
                        <p>มหาวิทยาลัยพะเยา มุ่งเน้นการศึกษาและการพัฒนาสังคมอย่างยั่งยืน</p>  <!-- คำอธิบายมหาวิทยาลัย -->
                        <p>ที่อยู่: 19 หมู่ 2 ต.แม่กา อ.เมืองพะเยา จ.พะเยา 56000</p> <!-- ที่อยู่ของมหาวิทยาลัย -->
                    </div>

                        <!-- ส่วนกลางของฟุตเตอร์ -->
                    <div class="footer-middle">
                        <h3>เมนูลัด</h3> <!-- หัวข้อเมนูลัด -->
                        <ul>
                            <li><a href="/Project">หลักสูตรสายการเรียน</a></li> <!-- ลิงก์ไปหน้าหลักสูตร -->
                            <li><a href="/home">ประกาศข่าวสารและกิจกรรม</a></li> <!-- ลิงก์ไปหน้าข่าวสารและกิจกรรม -->
                        </ul>
                    </div>

                        <!-- ส่วนขวาของฟุตเตอร์ -->
                    <div class="footer-right">
                        <h3>ติดต่อเรา</h3> <!-- หัวข้อส่วนติดต่อ -->
                        <p>โทรศัพท์: 012-345-6789</p> <!-- เบอร์โทรศัพท์ -->
                        <p>อีเมล: info@up.ac.th</p> <!-- อีเมลสำหรับติดต่อ -->

                        <div class="social-icons">
                            <a href="https://www.facebook.com/profile.php?id=100008231021431" target="_blank">
                                <img src="https://cdn.pixabay.com/photo/2021/06/15/12/51/facebook-6338509_1280.png" alt="Facebook" class="social-icon">
                                <!-- ไอคอน Facebook -->
                            </a>
                            <a href="https://line.me/ti/p/F8sfRpg1L5" target="_blank">
                                <img src="https://positioningmag.com/wp-content/uploads/importedmedia/blogmedia-60818.png" alt="Line" class="social-icon">
                                <!-- ไอคอน Line -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
</html>
